<ion-view view-title="Contactez-Nous">
  <ion-content>
    <div class="list list-inset">
    <div class="item item-image">
      <img src="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xla1/t31.0-8/12322374_1664550967135360_5048590734528487353_o.jpg">
    </div>
    <div class="item">
      <p><h2>Aurélien GALY</h2></p>
      <p>Chef d'équipe</p>
      <p>aurélien.galy@ec-lille.fr</p>
    </div>
    <div class="item">
      <p><h2>Pôle informatique</h2></p>
      <p>Rumei LI</p>
      <p>Oleg POPOVSKIY</p>
    </div>
    <div class="item">
      <p><h2>Pôle logistique</h2></p>
      <p>Julien BURGUIERE</p>
      <p>Arnaud JEGLE</p>
      <p>Mônica DANTAS</p>
    </div>

	</div>
  </ion-content>
</ion-view>
