<ion-view view-title="{{ detail.title }}">
  <ion-content>
 
<div class="container">
<div class="list card">

  <div class="item item-avatar">
    <img src="{{ detail.thumb }}">
    <h2>{{ detail.title }}</h2>
    <p>{{ detail.date }}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{ detail.image }}">
    <p>
    {{ detail.description }}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
</div>


  </ion-content>
</ion-view>