<ion-view view-title="RU et Date">
  <ion-content>

    <ion-list>
      <label class="item item-input item-select">
        <div class="input-label">
          Restaurant CROUS :
        </div>
        <select>
          <option selected>Sully</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Date de commande :
        </div>
        <select ng-options="day as day.label for day in date track by day.id" ng-model="precmd.date"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Heure d'arrivée :
        </div>
        <select ng-options="hour as hour.label for hour in horaire track by hour.id" ng-model="precmd.horaire"></select>
      </label>
    </ion-list>

  <div class="padding">
  <button class="button button-block button-assertive" ng-click="confirmationP()">
    Continuer
  </button>
  </div>
  
  </ion-content>
</ion-view>