<ion-view view-title="Choisir mon menu">
  <ion-content>

    <ion-list>
      <div class="item item-divider">
      Précommande
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Type de menu
        </div>
        <select ng-options="type as type.label for type in typePlat track by type.id" ng-model="precmd.typePlat"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Périphérique 1
        </div>
        <select ng-options="peripherique.title group by peripherique.type for peripherique in listplats " ng-model="precmd.peri1"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Périphérique 2
        </div>
        <select ng-options="peripherique.title group by peripherique.type for peripherique in listplats " ng-model="precmd.peri2"></select>
      </label>
      <label class="item item-input item-select" ng-show="precmd.typePlat.id<3">
        <div class="input-label">
          Périphérique 3
        </div>
        <select ng-options="peripherique.title group by peripherique.type for peripherique in listplats " ng-model="precmd.peri3"></select>
      </label>
      <label class="item item-input item-select" ng-show="precmd.typePlat.id===2">
        <div class="input-label">
          Périphérique 4
        </div>
        <select ng-options="peripherique.title group by peripherique.type for peripherique in listplats " ng-model="precmd.peri4"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Boisson
        </div>
        <select ng-options="peripherique.title group by peripherique.type for peripherique in listplats " ng-model="precmd.boisson"></select>
      </label>
    </ion-list>
  <div class="padding">
  <button class="button button-block button-assertive" ng-click="confirmationP()">
    Continuer
  </button>
  </div>
  
  </ion-content>
</ion-view>
