<ion-view view-title="Code">
  <ion-content>
	<div class="card">
	<div class="item item-divider">
    N° de commande : {{ precmd.nCommande }}
    </div>	
  	 <div class="item item-body">
    Votre commande a bien été éffectuée, veuillez consulter votre N° de Caisier après 10:30 du jour de précommande pour récupérer votre plat.
    </div>
	</div>  
  <div class="padding">
    <button class="button button-block button-assertive" ng-click="finir()">
      Finir
    </button>
  </div>
  </ion-content>
</ion-view>