<ion-view view-title="Confirmation">
  <ion-content>
	<div class="card">
    <div class="item item-divider">
    Votre Date et Heure d'arrivée :
    </div>
  	<div class="item item-text-wrap">
    {{precmd.date}} {{precmd.horaire.label}}
    </div>
	</div>
  <div class="card">
    <div class="item item-divider">
    Votre commande :
    </div>
  	<div class="item">
    Type de menu : {{precmd.typePlat.label}}
 	  </div>
    <div class="item"  ng-hide="precmd.peri1 == '' " >
    Périphérique 1 : {{precmd.peri1.title}}
    </div>
    <div class="item"  ng-hide="precmd.peri2 == '' ">
    Périphérique 2 : {{precmd.peri2.title}}
    </div>
    <div class="item" ng-hide="precmd.peri3 == '' ">
    Périphérique 3 : {{precmd.peri3.title}}
    </div>
    <div class="item"  ng-hide="precmd.peri4 == '' ">
    Périphérique 4 : {{precmd.peri4.title}}
    </div>
    <div class="item"  ng-hide="precmd.boisson==='Non'">
    Boisson : {{precmd.boisson.title}}
    </div>
   </div>
   
	<div class="card">
    <div class="item item-divider">
    Prix :
    </div>
  	<div class="item item-text-wrap">
    {{precmd.prix}} euros
    </div>
	</div>

  <div class="padding">
	  <button class="button button-block button-assertive" ng-click="createPrecmd()">
	  	Confirmer
	  </button>
  </div>
  </ion-content>
</ion-view>
